<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.newsuper.t">
    <!-- 魅族推送相关 -->
    <!-- 兼容 Flyme5 以下版本，魅族内部接入 PushSDK 必填，不然无法收到消息 -->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />
    <permission
        android:name="com.juejinchain.android.push.permission.MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.juejinchain.android.push.permission.MESSAGE" /> <!-- 兼容 Flyme3 配置权限 -->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.juejinchain.androidpermission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.juejinchain.android.permission.C2D_MESSAGE" /> <!-- 魅族推送相关 -->
    <!-- 个推SDK权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 个推SDK权限 -->
    <!-- 微信登录 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 广点通 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" /> <!-- 穿山甲广告 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- X5 -->
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <permission android:name="android.permission.WRITE_SETTINGS" />
    <permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <permission android:name="android.permission.READ_LOGS" /> <!-- 小米推送相关 -->
    <permission
        android:name="com.juejinchain.android.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" /> <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->
    <uses-permission android:name="com.juejinchain.android.permission.MIPUSH_RECEIVE" /> <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->
    <!-- 华为推送 -->
    <!-- 接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 ${PACKAGE_NAME} 要替换上您应用的包名 -->
    <permission
        android:name="com.juejinchain.android.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signatureOrSystem" /> <!-- 接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 ${PACKAGE_NAME} 要替换上您应用的包名 -->
    <uses-permission android:name="com.juejinchain.android.permission.PROCESS_PUSH_MSG" /> <!-- 钱盟盟sdk权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 投屏 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" /> <!-- 极光推送权限 -->
    <permission
        android:name="com.juejinchain.android.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- Required -->
    <uses-permission android:name="com.juejinchain.android.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".juejinbao.base.JJBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".juejinbao.ui.home.activity.HomeSearchActivity" />
        <activity android:name=".juejinbao.ui.module.ad.YoudaoPlayRewardVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true" />
        <activity android:name=".juejinbao.ui.module.home.activity.HotPointSearchResultActivity" />
        <activity android:name=".juejinbao.ui.module.home.activity.YuYueTuiWXAdActivity" />
        <activity android:name=".module.home.activity.YuYueTuiAdActivity" />
        <activity android:name=".module.ad.GDTRewardVideoActivityActivity" />
        <activity android:name=".module.ad.KSRewardVideoActivityActivity" />
        <activity
            android:name=".juejinbao.ui.module.song.Activity.SongListActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".juejinbao.ui.module.song.Activity.SongActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".module.my.activity.InviteFriendActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name=".module.task.sleep.SleepMoneyActivity"
            android:theme="@style/AppTheme.Transparent"   />
        <activity
            android:name=".module.my.activity.PrivacyActivity"
            android:theme="@style/AppTheme.Transparent" />

    </application>

</manifest>